 <!-- footer -->
 <link rel="stylesheet" href="/public//css/footer.css">
 <footer>
    <div class="about">
      <h1><span class="logo-text">BLOG</span> <span>APP</span></h1>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti a
        recusandae, molestiae incidunt
      </p>
      <!-- Contacts -->
      <div class="contact">
        <span>
          <i class="fas fa-phone"></i>
          +91 6383521054
        </span>
        <span>
          <i class="fas fa-envelope"></i>
          
          <a href="mailto:akramshakina3055@gmail.com">
            akramshakina3055@gmail.com
          </a>
        </span>

      </div>
      <!-- socials -->
      <div class="socials">
        <a href="https://www.linkedin.com/in/akram-s-0a3258258">
          <i class="fab fa-linkedin"></i>
        </a>
        
        <a href="https://portfolio-3055.netlify.app">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://portfolio-3055.netlify.app">
          <i class="fab fa-facebook"></i>
        </a>
       
  </footer>