/* Nav */
nav {
    width: 100%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    
    
  }
  
  nav img {
    width: 100px;
    margin: 4px;
  }
  
  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 2px;
  }
  nav ul li {
    padding: 3px;
  }
  nav ul li a {
    text-decoration: none;
  }
  
  .create-post-btn {
    background-color: #ff5a5f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  /* Mobile first responsive design */
@media (min-width: 675px) {
    .header-content h1{
      font-size: 5rem;
    }
    nav {
      flex-direction: row;
      justify-content: space-between;
      height: 70px;
    }
    nav ul {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-right: 20px;
    }
    .container-flex {
      flex-direction: row;
    }
    nav ul li {
      padding: 10px;
    }
    main {
      width: 70%;
    }
    aside {
      width: 30%;
    }
  }
  